.wrapper {
  width: 100%;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  padding: 12px;

  .head {
    @include flex(center, space-between, 10px);
    cursor: pointer;
    transition: 0.2s;
    padding: 8px;

    &_title {
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.2px;
    }

    &_icon {
      transform: rotate(0deg);
      transition: 0.2s;
      border-radius: 8px;
      border: 1px solid rgba(15, 16, 24, 0);
      background: rgba(255, 255, 255, 0.03);
      backdrop-filter: blur(10px);

      &_active {
        transform: rotate(180deg);
      }
    }
  }

  .body {
    overflow: hidden;
    transition: height 0.3s ease;

    @media (prefers-reduced-motion: reduce) {
      transition-duration: 0.01ms;
    }

    &_open .content {
      border-top-color: rgba(255, 255, 255, 0.04);
    }
  }

  .content {
    overflow-wrap: anywhere;
    word-wrap: break-word;
    border-top: 1px solid transparent;
    padding: 8px;
    color: #c7c7c7;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    transition: border-color 0.25s ease;
  }
}
