.content {
  @include flex(flex-start, center, 16px, column);
  border-radius: 8px;
  width: 100%;
}

.head {
  @include flex(flex-start, flex-start, 6px, column);
  width: 100%;

  .title {
    font-size: 18px;
    font-weight: 600;
    color: #fefbff;
  }

  .subtitle {
    font-size: 12px;
    color: #aeaeae;
  }
}
