$red-1: #b52f0a;
$red-2: #f45f03;
$gradient-1: linear-gradient(180deg, #f45f03 0%, #b52f0a 100%);
$gradient-2: linear-gradient(360deg, #f45f03 0%, #b52f0a 100%);
$gradient-3: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
$white: white;
$white-2: #ffffff33;
$white-3: #ffffff1a;
$white-4: rgba(255, 255, 255, 0.8);
$black-1: rgba(0, 0, 0, 0.8);
$black-2: #383838;
$black-3: #636363;
$black-4: #545454cc;
$yellow: #f9f5e1;
$error-red: #e62b0f;
$dark-purple-gray: #232125;

$primary-5: #000840;
$primary-10: #00105b;
$primary-15: #001775;
$primary-20: #0e2483;
$primary-25: #1e318e;
$primary-30: #2c3d9a;
$primary-35: #384aa7;
$primary-40: #4556b4;
$primary-50: #5f70ce;
$primary-60: #798aea;
$primary-70: #96a5ff;
$primary-80: #bac3ff;
$primary-90: #dee0ff;
$primary-95: #f0efff;
$primary-98: #fbf8ff;

$neutral-0: #000000;
$neutral-5: #101114;
$neutral-10: #1b1b1f;
$neutral-15: #252529;
$neutral-20: #303034;
$neutral-25: #3b3b3f;
$neutral-30: #47464a;
$neutral-35: #535256;
$neutral-40: #5f5e62;
$neutral-50: #78767a;
$neutral-60: #929094;
$neutral-70: #acaaaf;
$natural-80: #c8c5ca;
$neutral-90: #e4e1e6;
$neutral-95: #f3f0f4;
$neutral-98: #fbf8fd;
$neutral-99: #fefbff;

$accent-5: #260700;
$accent-10: #380d00;
$accent-15: #491400;
$accent-20: #5b1b00;
$accent-25: #6d2200;
$accent-30: #802a00;
$accent-35: #943100;
$accent-40: #a83900;
$accent-50: #d24900;
$accent-60: #fc5b08;
$accent-70: #ff8c5f;
$accent-80: #ffb59a;
$accent-90: #ffdbcf;
$accent-95: #ffede7;
$accent-98: #fff8f6;

$secondary-5: #0c0f23;
$secondary-10: #171a2e;
$secondary-15: #212439;
$secondary-20: #2c2f44;
$secondary-25: #373a50;
$secondary-30: #42455c;
$secondary-35: #4e5168;
$secondary-40: #5a5d74;
$secondary-50: #73768e;
$secondary-60: #8d8fa8;
$secondary-70: #a7a9c4;
$secondary-80: #c3c5e0;
$secondary-90: #dfe1fc;
$secondary-95: #f0efff;
$secondary-98: #fbf8ff;

$successful-5: #001501;
$successful-10: #002203;
$successful-15: #002d05;
$successful-20: #003907;
$successful-25: #00460b;
$successful-30: #00530e;
$successful-35: #006013;
$successful-40: #006e17;
$successful-50: #008a1f;
$successful-60: #2ea636;
$successful-70: #4dc24f;
$successful-80: #6adf67;
$successful-90: #86fc80;
$successful-95: #c9ffbe;
$successful-98: #eaffe5;

$warning-5: #161000;
$warning-10: #221b00;
$warning-15: #2e2500;
$warning-20: #3b2f00;
$warning-25: #473a00;
$warning-30: #554600;
$warning-35: #625100;
$warning-40: #705d00;
$warning-50: #8d7500;
$warning-60: #fcc308;
$warning-70: #ffdf5f;
$warning-80: #ffeb9a;
$warning-90: #fff5cf;
$warning-95: #fffae7;
$warning-98: #fff8ef;

$error-5: #2d0001;
$error-10: #410002;
$error-15: #540003;
$error-20: #690005;
$error-25: #7e0007;
$error-30: #93000a;
$error-35: #a80710;
$error-40: #ba1a1a;
$error-50: #de3730;
$error-60: #ff5449;
$error-70: #ff897d;
$error-80: #ffb4ab;
$error-90: #ffdad6;
$error-95: #ffedea;
$error-98: #fff8f7;

// Variables
$header-height: 80px;
$card-shadow: 0 4px 20px 0 rgba(255, 248, 227, 0.3);
$card-shadow-hovered: 0 4px 50px 0 rgba(255, 248, 227, 0.5);
$color-surface-20: rgba(37, 37, 41, 1);
$color-surface-0: #101114;
