@mixin flex(
  $align-items: flex-start,
  $justify-items: flex-start,
  $gap: 0,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-items;
  flex-flow: $direction $wrap;
  gap: $gap;
}

@mixin scrollbar() {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #232125;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 0;
  }
}

@mixin position(
  $position: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $z-index: null
) {
  $properties: (
    position: $position,
    top: $top,
    right: $right,
    bottom: $bottom,
    left: $left,
    z-index: $z-index,
  );
  @each $property, $value in $properties {
    @if $value {
      #{$property}: $value;
    }
  }
}

@mixin font(
  $size: false,
  $weight: false,
  $color: false,
  $lh: false,
  $align: false,
  $transform: false,
  $style: false,
  $family: false
) {
  font-family: var(--font-roboto-flex), sans-serif, serif;
  @if $size {
    font-size: $size;
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $align {
    text-align: $align;
  }
  @if $family {
    font-family: $family;
  }
  @if $transform {
    text-transform: $transform;
  }
  @if $style {
    font-style: $style;
  }
}
