.wrapper {
  @include flex(flex-start, $gap: 6px);
  max-width: 300px;
  cursor: pointer;
  width: 100%;

  .text {
    @include flex(flex-start, flex-start, 4px, column);
    padding-top: 2px;

    .title {
      font-size: 24px;
      font-weight: 1000;
      text-transform: uppercase;
      text-wrap: nowrap;
    }
  }
}

.fullWidth {
  max-width: unset;
}
