.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 380px;
  height: 430px;
  grid-gap: 10px;

  .card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    outline: 1px solid rgba(204, 204, 204, 0.29);
    transition: 0.3s;

    &.active {
      outline: 1px solid rgba(255, 255, 255, 0.57);
      mix-blend-mode: unset;
    }

    &:hover .background {
      transform: scale(1.2);
    }

    .background {
      z-index: 1;
      scale: 1.1;
      transition: 0.6s;

      &_closed {
        mix-blend-mode: luminosity;
      }
    }

    .infantry {
      z-index: 2;
      bottom: 10px;
      padding-top: 70px;
      transition: 0.4s;
      margin-top: auto;

      &_russia {
        margin-left: -20px;
        margin-bottom: -30px;
        scale: 0.95;

        &_active {
          margin-left: 0;
          margin-bottom: 0;
          scale: 1;
        }
      }

      &_nato {
        margin-right: -20px;
        margin-bottom: -30px;
        scale: 0.95;

        &_active {
          margin-right: 0;
          margin-bottom: 0;
          scale: 1;
        }
      }
    }
  }
}
