.wrapper {
  @include flex(center, space-between, 10px, column);
  width: 350px;
  height: 300px;
  padding: 10px;

  .title {
    animation: pulsation 5s infinite;

    font-size: 20px;
    font-weight: 600;
  }
}

@keyframes pulsation {
  0% {
    opacity: 1;
    scale: 1;
  }
  50% {
    opacity: 0.4;
    scale: 0.96;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
