.page {
  @include flex(flex-start, flex-start, 20px, column);
  height: 100%;
  width: 100%;

  .banner {
    @include flex(flex-start, space-between, 10px, column);
    background: url("/images/home_banner.png") lightgray 50% / cover no-repeat;
    border-radius: 24px;
    height: 230px;
    padding: 40px;
    width: 100%;

    .text {
      @include flex(flex-start, space-between, 8px, column);

      .title {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0.1px;
      }

      .subtitle {
        color: rgba(255, 255, 255, 0.71);
        font-size: 24px;
        letter-spacing: 0.1px;
      }
    }
  }
}
